html,
body {
  /* overflow-y: hidden; */
  width: 100%;
  height: 100%;
  font-family: "Raleway", sans-serif;
}

.Pane1 {
  background-color: #ddd;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  /* height: calc(100% - 54px); */
}

.Pane2 {
  background-color: #000;
  overflow-x: hidden;
  height: 100%;
  /* height: calc(100% - 54px); */
}

.Resizer {
  background: #000;
  width: 10px;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.break {
  height: 64px;
}

.nav-color {
  background-color: #14182d;
}
